.mainContainer{
    
    display:flex;
    flex-direction: row;
    margin-top:1em;
}
.mainContainer .sideNav{
    background: #ffffff;
    
}
.mainContainer .sportsView{

    width: 100%;
}
.menuItem{
    display: block;
    border: 1px solid transparent;
    padding: 2em;
    font-size: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background: #5f72bd;
    cursor: pointer;
    margin: .5em;
    text-decoration: none;
    color: #ffffff;
}
.menuItem:hover, .newMatchBtn:hover, .UploadSubmitBtn:hover{
    border: 1px solid #5f72bd;
    background: #ffffff;
    color: #5f72bd
}
.active{
    border: 1px solid #5f72bd;
    background: #ffffff;
    color: #5f72bd
}

/* .UploadContent{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
#uploadSportsForm{
    border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    margin: 0 auto;
    width: 30em;
    padding: 1em;
    text-align: center;
}
.newMatchBtn, .UploadSubmitBtn{
    border: 1px solid transparent;
    padding: 1em;
    font-size: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background: #5f72bd;
    cursor: pointer;
    margin: .5em;
    text-decoration: none;
    color: #ffffff;
}
.inputFiles{
   display: flex;
   flex-direction: column;
  align-items: center;
}